@(formItem:Form[_], fieldName: String)(implicit lang: play.api.i18n.Lang, templateRenderer: uk.gov.hmrc.renderer.TemplateRenderer, formPartialRetriever: uk.gov.hmrc.play.partials.FormPartialRetriever)

@import uk.gov.hmrc.play.mappers.DateFields._
@import play.api.i18n._
@import views.html.helper._
@import uk.gov.hmrc.play.mappers.DateFormatSymbols
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@dayElem = @{ fieldName + "." + day }
@dayInputId = @{ fieldName + "." + day }

@dateInputText(
formItem(dayElem),
'_inputId -> dayInputId,
'_label -> Messages("date.fields.day"),
'_divClass -> "form-group form-group-day",
'_inputClass -> "form-control",
'_maxFieldLength -> 2,
'_autoComplete -> "off"
)
@monthElem = @{ fieldName + "." + month }
@monthInputId = @{ fieldName + "." + month }

@dateInputText(
formItem(monthElem),
'_inputId -> monthInputId,
'_label -> Messages("date.fields.month"),
'_divClass -> "form-group form-group-month",
'_inputClass -> "form-control",
'_maxFieldLength -> 2,
'_autoComplete -> "off"
)
@yearElem = @{ fieldName + "." + year }
@yearInputId = @{ fieldName + "." + year }

@dateInputText(
formItem(yearElem),
'_inputId -> yearInputId,
'_label -> Messages("date.fields.year"),
'_divClass -> "form-group form-group-year",
'_inputClass -> "form-control",
'_maxFieldLength -> 4,
'_autoComplete -> "off"
)
