@(urlEnglish: String, urlWelsh: String)(implicit lang: Lang, request: Request[_], templateRenderer: uk.gov.hmrc.renderer.TemplateRenderer, formPartialRetriever: uk.gov.hmrc.play.partials.FormPartialRetriever)

@import play.twirl.api.Html
@import uk.gov.hmrc.urls.Link
@import utils.LanguageUtils
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

<div class="available-languages">
        @if(LanguageUtils.isWelsh(lang)) {
            @Link.toInternalPage(url = urlEnglish,
            value = Some(Messages("generic.translation.english")),
            id = Some("switch-to-english")).toHtml
            | Cymraeg
        } else {
            English | @Link.toInternalPage(url = urlWelsh,
            value = Some(Messages("generic.translation.welsh")),
            id = Some("switch-to-welsh")).toHtml
        }
</div>