@*
* Copyright 2015 HM Revenue & Customs
*
*
import play.twirl.api.TemplateMagic._
import models._
import controllers._
import play.api.i18n._
import play.api.mvc._
import play.api.data._
import views.html._
import play.api.templates._
import play.api.templates.PlayMagic._
import utils.LanguageUtils
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*@
@(form: Form[models.EarlierYearsInput],
        input: RegistrationFormInput,
        availableYears: List[TaxYear] = List[TaxYear]())(
        implicit lang: Lang,
        request: Request[_],
        context: config.TamcContext,
        breadcrumb: uk.gov.hmrc.play.breadcrumb.model.Breadcrumb,
        user: details.TamcUser,
        templateRenderer: uk.gov.hmrc.renderer.TemplateRenderer)

@import play.twirl.api.Html
@import views.helpers.TextGenerators
@import models.Gender
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.time.TaxYearResolver
@import utils.LanguageUtils
@import config.ApplicationConfig
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@templates.tamc_main(
    title = Messages("title.application.pattern", Messages("title.extra-years")),
    langSwitch = Some(templates.lang_button(controllers.routes.LanguageController.switchToEnglishPreviousYears.toString(),
        controllers.routes.LanguageController.switchToWelshPreviousYears.toString()))) {

    @templates.form_error_notification(form)

    <h1 class="heading-xlarge" id="heading">@Html(Messages("pages.multi-year-select.heading"))</h1>


    @helpers.form(action = routes.TransferController.extraYearsAction, args = 'id -> "eligible-years-form") {
        <fieldset class="inline spacingBottom" id="earlierYears">
            <div class="form-group" id="year-@availableYears.head.year">
                <h2 class="heading-medium"><span style="color: grey">@Html(Messages("pages.multiyear.taxyear", TextGenerators.taxDateIntervalShort(availableYears.head.year, LanguageUtils.isWelsh(lang))))</span>
                    <br>@TextGenerators.taxDateInterval(availableYears.head.year, LanguageUtils.isWelsh(lang))</h2>
                <div style="margin-top: 30px">
                    <p>@Html(Messages("pages.multiyear.canclaim", input.name, TextGenerators.taxDateIntervalShort(availableYears.head.year, LanguageUtils.isWelsh(lang))))</p>
                    <ul class="list list-bullet">
                        <li>@Html(Messages("your-income-" + availableYears.head.year)) </li>
                        <li>@Html(Messages("income-between-" + availableYears.head.year, TextGenerators.formPossessive(input.name, LanguageUtils.isWelsh(lang))))</li>
                    </ul>
                    <p>@Html(Messages("pages.multiyear.successful", TextGenerators.taxDateIntervalShort(availableYears.head.year, LanguageUtils.isWelsh(lang)), input.name, Html(Messages("max-benefit-" + availableYears.head.year))))</p>
                </div>
                <p class="bold-small">@Html(Messages("pages.multiyear.extrayears"))</p>
                @templates.input_radio_group(
                    form(s"selectedYear"),
                    Seq((availableYears.head.year.toString, Messages("radio.yes")), ("0", Messages("radio.no"))),
                    '_labelClass -> "block-label",
                    '_labelAfter -> true,
                    '_legend -> "Extra year",
                    '_legendClass -> "visuallyhidden",
                    '_groupClass -> "inline spacingBottom"
                )
                <input type="hidden" name="furtherYears" value="@availableYears.tail.map(_.year).mkString(",")" />

            </div>
        </fieldset>
        <p class="get-started group" id="get-started">
            <button class="button" type="submit" data-journey-click="marriage-allowance:button:previousyear_continue">@Html(Messages("generic.continue"))</button>
        </p>
    }
    <br>
    <a href="@controllers.routes.TransferController.eligibleYearsAction" class="link-back">@Html(Messages("generic.back"))</a>
}

